configuration {
    show-icons: true;
    font: "JetBrains Mono 10";
    icon-theme: "Gruvbox-Dark";

    display-drun:   "󰣖 drun:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;
}

@theme "themes/current.rasi"